.billing-container{
    width: 90%;
    border: 1px solid brown;
    margin: auto;
}

.billing-heading{
    font-family: 'Montserrat', sans-serif;
}

#billing-form{
    padding: 30px 30px;
}

.form-address{
    display: grid;
    width: 60%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border: 1px solid orange;
}

.input-address{
    border: 1px solid grey;
    border-radius: 6px;
    font-size: 18px;
}

#robot{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px;
    padding: 10px 10px;
    background-color: rgb(228, 226, 226);
    border: 1px solid black;
}

#captcha{
    width: 100%;
}

#captcha>label{
    font-size: 18px;
}

#captcha-img{
    width: 40%;
}

#captcha-img>img{
    width: 50%;
}

.payment_td{
    border: 1px solid black;
}

.credit{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.credit>img{
    width: 40%;
}
