#main-container{
   width:80%;
   margin:auto;
   margin-top:30px;
   border:2px solid black
}
#heading{
    width:65%;
    font-size:25px;
    font-weight:bold;
    border:2px solid red
}

#img-chatBot{
    display:flex;
    margin-top:30px;
    border:2px solid green;
}

@media only screen and (min-width: 576px) and (max-width: 1240px) {
    #main-container{
        width:65%;
        margin:auto;
        margin-top:30px;
        border:2px solid black
     }
     #heading{
         width:70%;
         font-size:18px;
         font-weight:bold;
         border:2px solid red
     }
     
     #img-chatBot{
         display:flex;
         margin-top:30px;
         border:2px solid green;
     }
    
     #img{
        border:2px solid blue;
        width:200px;
     }
     #chatbot{
        border:2px solid black;
        margin-left:-100px;
        width:300px
     }



}